@media screen and (max-width:450px) {

    /* shared style  */
    .title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .nav-item{
        display: none;
    }
    .menu-icon{
        visibility: visible;
        margin-left: 100px;
        
    }
    .banner-section,
    .habit-card-container{
        flex-direction: column;
    }
    .banner-container{
        width: 100%;
        margin-top: 20px;
    
    }
    .banner-title{
        font-size: 36px;
    }
/* change your habit section */
    .habit-heading {
        width: 100%;
    }
    .habit-section {
        margin-top: 50px;
    }
    
}