@media screen and (max-width:450px) {
    .nav-item{
        display: none;
    }
    .menu-icon{
        visibility: visible;
        margin-left: 100px;
        
    }
    .banner-section{
        flex-direction: column;
    }
    .banner-container{
        width: 100%;
        margin-top: 20px;
    
    }
    .banner-title{
        font-size: 36px;
    }
    
}