@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared style  */
* {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.title {
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.button-primary {
    border-radius: 20px;
    background: rgb(230, 83, 60);
    color: white;
    font-weight: 600;
    padding: 8px 15px;
    border: none;
}

/* nav style here  */
nav {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 90%;
    margin: auto;
    align-items: center;
}

.nav-title {
    color: rgb(230, 83, 60);
    font-size: 32px;
    font-weight: 800;
}

.nav-item {
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 10px 15px;
    gap: 40px;
    margin-left: 600px;
}

.nav-item li {
    color: rgb(255, 255, 255);
    font-size: 16px;
    list-style: none;
}

.nav-item li:hover {
    background-color: rgb(230, 83, 60);
    border-radius: 20px;
    padding: 5px;
    font-size: 14px;
}

.menu-icon {
    color: white;
    visibility: hidden;
}

/* Banner style start here  */
.banner-section {
    display: flex;
    gap: 100px;
    width: 80%;
    margin: auto;
}

.banner-container {
    width: 50%;
    margin-top: 100px;

}

.banner-title {
    color: white;
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 20px;
}

.shape {
    font-family: "Dancing Script", serif;
}

.button-download {
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    padding: 8px 15px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.five-hundred {
    color: white;
    font-size: 32px;
    font-weight: 900;
}

.box-title {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.65);
}

.banner-box {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    width: 100px;
}

.red-circle {
    background: rgb(230, 83, 60);
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.three-fifty {
    font-size: 18px;
    font-weight: 900;
    color: white;
}

.video-box {
    display: flex;
    gap: 10px;
    position: absolute;
    left: -50px;
    bottom: 80px;
}

.workout-box {
    position: absolute;
    top: 140px;
    left: 220px;
    /* bottom: -100px; */
}

.banner-img {
    width: 100%;
}

.banner-img-container {
    position: relative;

}

/* change your habit section */
.habit-section {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.habit-heading {
    width: 50%;
    margin: auto;
    text-align: center;
}

.habit-card-container {
    display: flex;
    gap: 20px;
    text-align: center;
    margin-top: 40px;
}

.card-img {
    border-radius: 100px;
    border: 1px solid white;
}

.card-title {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.card-title-container {
    width: 80%;
    margin: auto;
}

/* run-extra-section  */

.run-extra-section {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
}

.run-extra-container {
    display: flex;
    gap: 100px;
}

.run-img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

.run-img-container {
    padding: 30px;
}

.run-title-container {
    padding: 50px;
}

.join-now-btn {
    margin-top: 20px;
}

/* bmi-section */
.bmi-section{
    margin-top: 100px;
}
.bmi-title-container{
    width: 40%;
    margin: auto;
    
}
.bmi-section-box {
    background-color: rgb(34, 34, 34);
    margin-top: 80px;
}
.bmi-container{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 150px;
    padding: 50px 0;
}
.bmi-title {
    color: white;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
}

table,
td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
}

th {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

table {
    border-collapse: collapse;
}
input{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
border: none;
height: 48px;
width: 50%;
margin-top: 10px;
padding-left: 10px;
}
.input-style{
    width: 100%;
}
.input-flex{
display: flex;
gap: 10px;
}
.input-container{
    margin: 20px 0;
}

/* our-team-section */
.our-team-section{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.out-team-title{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 80px;
}
.trainer-card-container{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.tainer-img{
    width: 320px;
    height: 250px;
    border-radius: 10px;
}
.trainer-name{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.tainer-img-title{
    margin-top: -50px;
    margin-left: 20px;
}

/* footer-section */
.footer-section{
    background-color:rgba(255, 255, 255, 0.1) ;
    margin-top: 80px;
}
.footer-container{
    width: 80%;
    margin: auto;
}
.footer-container-flex{  
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.footer-title{
    color: rgb(230, 83, 60);
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}
.footer-title-container{
    width: 40%;
}
.footer-subtitle{
    color: white;
    font-size: 28px;
font-weight: 700;
margin-bottom: 20px;
}
.footer-list li{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
list-style: none;
margin-bottom: 10px;
}
#horizontal{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 70px;
    margin-bottom: 30px;
}

.copyright{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
}